<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')  %> 
</head>
<body>
    
    <%- include('partials/header.ejs')  %> 

    <div class="container-flex">

        <div class="userInfoForm">
            <h2>Instruções de cadastro</h2>

            <p>Siga as instruções abaixo para conseguir realiar o cadastro com sucesso!</p>

            <ul>
                <li>O nome do usuário deve conter no mínimo <b>4 caracteres</b> e no máximo <b>12 caracteres</b>.</li>

                <li>O usuário deve possuir no mínimo <b>18 anos</b> e no máximo <b>70 anos</b>.</li>

                <li>A imagem de perfil do usuário deve estar no formato <b>JPEG</b> ou <b>PNG</b>.</li>
            </ul>
        </div>

        <form id="formUser" action="/data-users" method="post" enctype="multipart/form-data">

            <h2>Formulário de cadastro</h2>
            <p>cadastrar usuário</p>
    
            <label for="">Qual o seu nome?</label>
            <input name="name" type="text" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$">
            <span></span>
    
            <label for="">Qual sua idade?</label>
            <input name="age" type="number" >
            <span></span>
    
            <label class="imageLabel" for="imageUser">Enviar imagem</label>
            <input id="imageUser" name="image" type="file" accept=".jpeg .png">
            <span></span>
    
            <button type="submit">Cadastrar usuário</button>
    
        </form>    

        <div id="myPopup" class="popup">
            <div class="popupContent" >
                <span id="closePopup">X</span>
                <h3>Usuário cadastrado com sucesso!</h3>
            </div>
        </div>
    </div>
   
    <script src="/js/script.js"></script>
</body>
</html>